target/**
logs/
settings.xml_
mongo-data/**
old/**
HelloWorldFunction/target/**

!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**
!**/src/test/**

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
.m2

### IntelliJ IDEA ###
.idea
*.iws
*.class
*.iml
*.ipr
*.class
*.DS_Store
.run

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

### VS Code ###
.vscode/

.env